
body {
font-family: sans-serif;
line-height: 1.5em;
}

.play_pause_step {
width:5em;
height:2em;
font-size:1em;
}

.figure {
text-align:center;
margin:2em auto;
font-weight:bold;
}

.map_tiles {
margin:0 0.4em;
border:5px solid black;
}

.q_rewards {
padding:0.3em;
width:32px;
text-align:center;
}

.parameter_text {
padding:0.3em;
width:4em;
}

h2 {
margin-top: 2em;
}

.tdlabel {
width:18em;
height:2em;
padding-right:0.5em;
text-align:right;
}

.tdcontrol {
}

@media screen and (min-width:1000px) {
    #column_div {
        max-width:1000px;
        margin:0 auto;
    }

    #animation_div {
        max-width:512px;
        text-align:center;
        float:left;
        margin:0;
    }

    #parameters_div {
        max-width:27em;
        float:left;
        margin-left:3em;
    }
}

@media not screen and (min-width:1000px) {
    #column_div {
        max-width:512px;
        margin:0 auto;
    }

    #animation_div {
        max-width:512px;
        text-align:center;
        margin:0 auto;
    }

    #parameters_div {
        max-width:512px;
        margin:0 auto;
    }
}
